header{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: aquamarine;

}

footer{
    align-items: center;
    color: brown;
    background-color: palevioletred;
    width: 100%;
    height: 200px;
    align-items: center;
}

li{
color:blueviolet;
display: inline;
margin-right: 15%;
}

body{
margin: 0;
background-color: rgb(112, 30, 85);
}

